<!DOCTYPE html>

<html>

   <head>
      <title>Useful Programmer Portfolio App</title>
     
   </head>

   <body>

      <div class="container">
        <h2>Useful Programmer Portfolio App</h2>
        <ul>
          <li><a href="/timestamp">Timestamp Microservice</a></li>
          <li><a href="/requestHeaderParser">Request Header Parser</a></li>
          <li><a href="/urlShortenerMicroservice">URL Shortener</a></li>
          <li><a href="/excercise-tracker">Exercise Tracker</a></li>
          <li><a href="/file-metacharacter">File Metacharacter</a></li>
        </ul>
      </div>
   </body>

</html>
